
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="dev" class="org.example.Dev" autowire="byName">
<!--        <property name="laptop" ref="lap1" />-->
<!--        <property name="age" value="12" />-->
<!--        <constructor-arg value="14"/>-->
<!--        <property name="computer" ref="desk1" />-->

    </bean>
    <bean id="computer"  class="org.example.Laptop">

    </bean>
    <bean id="desk1"  class="org.example.Desktop">

    </bean>
</beans>
